@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-navy-900: #0f172a;
  --color-blue-600: #2563eb;
  --color-blue-50: #eff6ff;
  --color-slate-800: #1e293b;
  --color-slate-600: #475569;
  --color-slate-400: #94a3b8;
  --color-slate-200: #e2e8f0;
  --color-emerald-600: #059669;
  --color-emerald-50: #ecfdf5;
  --color-rose-600: #e11d48;
  --color-rose-50: #fff1f2;
  --color-amber-500: #f59e0b;

  /* Fonts */
  --font-sans: var(--font-inter);

  /* Layout */
  --max-width-container: 1280px;

  /* Animations */
  --animate-marquee: marquee var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

/* Custom Base Styles */
body {
  @apply font-sans text-slate-600 bg-slate-50 antialiased dark:bg-slate-950 dark:text-slate-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-slate-900 tracking-tight dark:text-slate-100;
}